<html>
<head>
	<title>Ansible App</title>
</head>
<body>
<br>
<a href="http://{{ ansible_default_ipv4.address }}/index.html">Home</a>
<br>
<?php
	Print "Hello, World! I'm a Webserver configured by Ansible an I am:";
	echo exec('hostname');
	Print "</br>";

	echo "List od DB: <br>";
		{% for host in groups['dbservers'] %}
			$link =mysqli_connect('{{ hostvars[host].ansible_default_ipv4.address }}', '{{ hostvars[host].dbuser }}', '{{ hostvars[host].upassword }}') or die(mysqli_connect_error($link) );
		{% endfor %}
		$res = mysqli_query($link, "SHOW DATABASES;");
		while ($row = mysqli_fetch_assoc($res)) {
			echo $row['Database'] . "\n";
		}

?>
</body>
</html>